<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Headstarter Resume Parser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <style>
      
    </style>
  </head>
  <body>
    <img src="{{img_url}}" class="logo" />
    <h1 class="banner">Resume Parser</h1>

    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" class="button" />
      <input type="submit" value="Upload" class="custom-btn btn-2" />
    </form>

    <h3>Keywords</h3>
    <form action="{{ url_for('search') }}" method="POST">
      <input type="text" name="keyword" class="search_bar" />
      <input type="submit" value="Search" class="custom-btn btn-2" style="margin-left: 2rem;" />
    </form>

    <br><br><br>

    <div class="result-container">
      {% for result in results %}
        <p class="result">{{ result }}</p>
      {% endfor %}
    </div>
  </body>
</html>
